In [4]:
import re 
import nltk
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords

In [5]:
paragraph="Eastern Africa Submarine System (EASSy) is a 10,000km submarine cable system along the east coast of Africa, with 9 landing stations in Sudan, Djibouti, Somalia, Kenya, Tanzania, Comoros, Madagascar, Mozambique and South Africa, provides a backhaul system for at least 12 landlocked countries, enabling wide coverage in the East African region. The EASSy cable system was ready for service in July 2010.The EASSy cable system comprises two fiber pairs, initially designed with 68*10Gbps DWDM technology. The design capacity was upgraded to 4.72 Tbps in 2011 with ASN's 40Gbps wavelength technology.The EASSy project costs an initial investment at approximately US$ 235 million. The EASSy Consortium consists of 18 members, including Bharti Airtel, Botswana Fibre Networks, BT, Comores Telecom, Djibouti Telecom, Etisalat, Mauritius Telecom, MTN Group, Neotel, Orange, Saudi Telecom, Sudan Telecom Company, Tanzania Telecommunications Company Limited, Telkom Kenya, Telkom South Africa, Telma (Telecom Malagasy), Vodacom DRC, WIOCC, Zambia Telecom. According to Many Possibilities, EASSy is 90% African-owned although that ownership is underwritten by a substantial investment by Development Financial Institutions (DFIs) including World Bank/IFC, EIB, AfDB, AFD, and KfW. Total DFI investment is apparently $70.7 million, with $18.2 million coming from IFC, 14.5 million from AfDB. This is a smaller amount than the originally advertised $120 million investment from DFIs"

In [7]:
stemmer = PorterStemmer()
lem = WordNetLemmatizer()
sentences= nltk.sent_tokenize(paragraph)
print(len(sentences))

7

In [12]:
## Bag of words 
corpus=[]
for i in range(len(sentences)):
    review=re.sub("[^a-zA-Z]"," ", sentences[i])
    review=review.lower()
    review=review.split()
    review=[lem.lemmatize(word) for word in review
           if word not in set(stopwords.words("english"))]
    review=" ".join(review)
    corpus.append(review)

In [13]:
## Creating the features / vectors
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
features=cv.fit_transform(corpus).toarray()

In [16]:
print(features.shape)

(7, 111)

In [17]:
import pandas as pd
features=pd.DataFrame(features)

In [18]:
features.head()

,0,1,2,3,4,5,6,7,8,9,...,101,102,103,104,105,106,107,108,109,110
0,0,0,0,0,3,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
3,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,1,0,1
4,1,0,1,1,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0